/*	Subway Infographics	*/
/*	Group 20 PRO100 	*/
/*	License: none (Public)	*/

#container{
    width: 1200px;
    height: 768px;
    margin: auto; /* asdafsd */
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: lightcyan;
    position: relative;
    overflow: hidden; /* sjuler alt utenfor blocken */
}
