/*	Subway Infographics	        */
/*	Group 20 PRO100 	        */
/*	License: none (Public)	    */

/*
    LOVLIGE HTML-TAGER

    html, head, body, title, meta, link, header, section, article, footer
    div
    h1, h2, h3, h4, h5, h6
    p, span
    ul, ol, li
    a, input, img, audio

    LOVLIGE CSS-EGENSKAPER

    position, left, right, bottom, top, z-index;
    transition, animation
    padding, border og margin
    width, height, min-width, min-height
    background
    color, font-family, font-size, text-align, text-decoration
    display
    overflow
    cursor
    transform
    opacity
    cursor
    filter
*/

/* ANIMASJONER 

eksempel på et id-element med animatsjon

#castleTower{
    width: 230px;
    top: 134px;
    left: 300px;

    animation-name: navnPåAnimasjonen;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes navnPåAnimasjonen{
    0%{
        width: 230px;
        top: 134px;
        left: 487px;
    }
    100%{
    width: 230px;
    top: 370px;
    left: 487px;
    }
}
*/

/* CONTAINER EKSEMPEL */
#container{
    width: 1200px;
    height: 768px;
    margin: auto; /* asdafsd */
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: lightcyan;
    position: relative;
    overflow: hidden; /* sjuler alt utenfor blocken */
}
