

#gruppe20{
    
}

.line{
    position: absolute;
    width: 90%;
}

#blueLine{
    top: 150px;
    left: 80px;
}
#redLine{
    top: 250px;
    left: 100px;
}
#yellowLine{
    top: 250px;
    left: 100px;
}
#darkBlueLine{
    top: 250px;
    left: 100px;
}
#greenLine{
    top: 250px;
    left: 100px;
}